<header class="header">
  <nav class="navbar-mobile">
    <button (click)="toggleSidebar()" class="navbar-btn" type="sumbit">
      <img
        class="navbar-mobile-icon"
        src="../../../assets/icons/icon_menu.svg"
        alt=""
      />
    </button>
    <img
      class="logo"
      src="../../../assets/logos/logo_yard_sale.svg"
      alt="Logo"
    />
    <button class="navbar-btn" type="submit">
      <img
        class="navbar-mobile-icon"
        src="../../../assets/icons/icon_shopping_cart.svg"
        alt=""
      />
      <div class="counter">
        <span>
          {{ counter }}
        </span>
      </div>
    </button>
    <div class="sidebar" [class.active]="isShownSidebar">
      <button
        (click)="toggleSidebar()"
        class="navbar-btn icon-close"
        type="submit"
      >
        <img src="../../../assets/icons/icon_close.png" alt="" />
      </button>
      <ul class="nav-list">
        <li class="nav-list-item"><a routerLink="home">All</a></li>
        <li class="nav-list-item" *ngFor="let category of categoriesList">
          <a [routerLink]="['category', category.id]">{{ category.name }}</a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar-desktop">
    <a href="#">
      <img class="logo" src="../../../assets/logos/logo_yard_sale.svg" alt="" />
    </a>
    <ul class="nav-list">
      <li class="nav-list-item">
        <a routerLinkActive="active" routerLink="home">All</a>
      </li>
      <li class="nav-list-item" *ngFor="let category of categoriesList">
        <a routerLinkActive="active" [routerLink]="['category', category.id]">{{
          category.name
        }}</a>
      </li>
    </ul>
    <div class="profile">
      <div class="account">
        <button
          *ngIf="!token; else profileEmail"
          (click)="loginAndGetProfile()"
        >
          Login
        </button>
        <ng-template #profileEmail>
          <a routerLink="/profile">{{ user?.email }}</a>
          <button (click)="logout()" type="button">Logout</button>
        </ng-template>
      </div>
      <button class="navbar-btn" type="button">
        <img
          class="navbar-desktop-icon"
          src="../../../assets/icons/icon_shopping_cart.svg"
          alt=""
        />
        <div class="counter">
          <span>
            {{ counter }}
          </span>
        </div>
      </button>
    </div>
  </nav>
</header>
