<div class="product-content">
  <div class="product-img">
    <a [routerLink]="['/website/product', product.id]">
      <app-img
        *ngIf="product.images.length"
        [img]="product.images[0]"
      ></app-img>
    </a>
  </div>
  <p class="product-price">{{ product.price | currency : "PEN" }}</p>
  <p class="product-price">
    {{ product.taxes?.toFixed(2) | currency : "PEN" }}
  </p>
  <p class="product-title">{{ product.title | uppercase }}</p>
  <p appHighlight class="product-description">{{ product.description }}</p>
  <a routerLink="." [queryParams]="{ product: product.id }"> View details </a>
  <button (click)="onAddToCart()">Add</button>
</div>
